<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Tem Wifi?</h1>
    <p>Olá!​ Tem Wifi? é um​ aplicativo​ onde​ as​ pessoas​ podem cadastrar​ e encontrar​ bons​ locais públicos​ para​ trabalhar. Aqui você sabe se o local possui​ uma​ boa​ internet, se​ tem​ comida​ e bebida, se​ o atendimento​ é bom,​ essas​ coisas.​ 
</p>
    <p>O aplicativo​ tem​ como​ público​ alvo​ profissionais​ que​ tem​ a necessidade​ de realizar​ trabalhos​ fora​ do escritório.​ Sejam pessoas​ que​ trabalham​ remotamente, que​ viajam, profissionais​ liberais​ ou que​ por qualquer​ outro​ motivo​ tenham​ a necessidade​ de​ um lugar​ para​ realizar​ seus​ trabalhos.
    </p>
    <p><%= link_to "Criar nova Avaliação &raquo;".html_safe, new_avaliacao_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>

