
<h4>Minhas Avaliações</h4>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Estabelecimento</th>
      <th>Tipo</th>
      <th>Internet?</th>
      <th>Nota Geral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @avaliacoes %>
  </tbody>
</table>

<br>

